<script type="text/html" id="contentTemplate">
<div class="sq-panel">
	<div class="sq-panel-heading">
		<div class="sq-panel-title">
			修改密码
		</div>
	</div>
	<div class="sq-panel-body">
		<form class="form-horizontal sq-form sq-tab-container" action="/oemmanager/self/passwordUpdate" id="changePassword">
		<div class="form-group">
			<div class="sq-control-label">
				工号：
			</div>
			<div class="col-xs-10 sq-form-control">
				{{oemid}}
			</div>
		</div>
		<div class="form-group">
			<div class="sq-control-label">
				<span class="necessary-mark">*</span>
				旧密码：
			</div>
			<div class="col-xs-10 sq-form-control validate-control">
				<input type="password" name="oldPassword" class="sq-input-reset necessary" placeholder="请输入旧密码" autofocus />
				<span class="error-reminder"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="sq-control-label">
				<span class="necessary-mark">*</span>
				新密码：
			</div>
			<div class="col-xs-10 sq-form-control validate-control">
				<input type="password" name="password" class="sq-input-reset necessary" placeholder="请输入新密码" />
				<span class="error-reminder"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="sq-control-label">
				<span class="necessary-mark">*</span>
				确认密码：
			</div>
			<div class="col-xs-10 sq-form-control validate-control">
				<input type="password" name="password2" class="sq-input-reset necessary" placeholder="再次输入新密码" />
				<span class="error-reminder"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="sq-control-label">
				&nbsp;
			</div>
			<div class="col-xs-10 sq-form-control">
				<a href="#a_null" class="sq-btn btn-strong" id="savePwd">保 存</a>
			</div>
		</div>
		</form>
	</div>
	<div class="alert-warn-lg margin-bottom-20">
		<p class="tip-title">
			温馨提示：
		</p>
		<p>
			{{"" | passwordComment}}
		</p>
		<p>
			b. 密码字符长度为8-30位字符，必须同时包含字母和数字。
		</p>
		<p>
			c. 不要使用手机号、电话号码、生日、学号、身份证号等个人信息作为用户密码。
		</p>
	</div>
</div>
</script>