<script type="text/html" id="contentTemplate">
<div class="sq-panel">
	<div class="sq-panel-heading clearfix">
		<div class="pull-left sq-panel-title">服务配置</div>
	</div>
	<div class="sq-panel-body">
		<form method="post" action="/oemmanager/sysconfig/serviceconfigsave" class="sq-tab-container" id="serviceConfigForm">
		<table class="sq-table margin-bottom-20" style="line-height:45px;width:28%" id="mainList">
			<thead>
				<tr>
					<th style="width:80px">
						服务编码
					</th>
					<th style="width:125px">
						服务名称
					</th>
					<th>
						操作
					</th>
				</tr>
			</thead>
			<tbody>
				{{each lst as item i}}
					<tr>
					<td class="text-center">{{item.serviceid}}</td>
					<td class="text-center">{{item.servicename}}</td>
					<td>
						{{if item.canoperate == 1}}
							<div class="sq-btn-group sq-form-control switchBtn">
								<input class="sq-btn btn-primary btn-reverse {{if item.status == 1}}sq-tab-selected{{/if}}" type="button" value="开启" data-tab_group="1" data-status="1">
								<input class="sq-btn btn-primary btn-reverse {{if item.status == 0}}sq-tab-selected{{/if}}" type="button" value="关闭" data-tab_group="0" data-status="0">
			    				<input name="status" type="hidden" value="{{item.status}}">
								<input name="serviceid" type="hidden" value="{{item.serviceid}}">
								<input name="oemid" type="hidden" value="{{item.oemid}}">
							</div>
						{{else if item.canoperate == 0}}
								不可操作
						{{/if}}
						
					</td>
				</tr>
				{{/each}}
				
			</tbody>
			<tfoot>
			    <tr>
			        <td colspan="5">
		                <button id="btnSave" href="#a_null" class="pull-left sq-btn btn-strong btn-operate margin-left-10 batch-operate">
			                <span class="operate-icon operate-icon-restart"></span>
			                保存
		                </button>					        </td>
			    </tr>
			</tfoot>
		</table>
		</form>
	</div>
</div>	    
</script>