
<head>
	<!-- 个性化标题部分 -->
	<meta charset="utf-8"/>
	<title>管理员欢迎页</title>
	<!-- 引用个性化样式部分开始 -->
	<link rel="stylesheet" th:href="@{/css/ucModule/home/home.css}"/>
	<!-- 引用个性化样式部分结束 -->
	<head th:replace="/oemmanager/_header"/>
	<!-- 引入公共js部分开始 -->
</head>
<body>
	<!-- 导航部分 -->
	<div th:replace="/oemmanager/_top::top"/>
	<!-- 菜单部分 -->
	<div th:replace="/oemmanager/_menu::menu"/>
	<div class="sq-main">
	    <div class="crumb-container" data-nav="accountdetail" id="crumbNavContainer">
		    <!-- JS填充 -->
	    </div>
	    <div id="contentBox"></div>
	    <div th:replace=""/>
	    <script type="text/html" id="contentTemplate">

	    </script>
    </div>
	<div th:replace="/oemmanager/_footer::copy"/>
	<div>
		<div th:replace="/oemmanager/_script::commonJs"></div>
		<!-- <script type="text/javascript" charset="utf-8" th:src="@{/js/common/ucCommon.js}"></script> -->
	</div>
</body>
</html>