<script th:fragment="defaultContent" type="text/html" id="contentTemplate">
<div class="container-fluid">
	<div class="home-tier-1">
				<div class="pull-left home-tier-3-left">
					<div class="sq-panel">
						<div class="home-panel-heading">用户概况</div>
						<div class="clearfix products-detail-panel clearfix">
							<ul class="user-products-lists pull-left text-link">
								<li class="clearfix">
									<span class="pull-left user-detail-item user-cloud">
										<a href="#" class="user-product-icon">今日注册</a>
									</span>
									<span class="pull-right">
										<a href="#">
											<span class="user-detail-count">#</span> 个
										</a>
									</span>
								</li>
								<li class="clearfix">
									<span class="pull-left user-detail-item user-service">
										<a href="#">今日登录</a>
									</span>
									<span class="pull-right">
										<a href="#">
											<span class="user-detail-count">#</span> 个
										</a>
									</span>
								</li>
								<li class="clearfix">
									<span class="pull-left user-detail-item user-hosting">
										<a href="#">认证待办</a>
									</span>
									<span class="pull-right">
										<a href="#">
											<span class="user-detail-count"></span> 个
										</a>
									</span>
								</li>
							</ul>
							<ul class="user-wo-lists pull-left text-link">
								<li>
									<div class="clearfix">
										<span class="pull-left user-detail-item user-not-payed">
											<a href="">今日金额充值</a>
										</span>
										<span class="pull-right">
											<a href="#">
								                共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 元
											</a>
										</span>
									</div>
								</li>
								<li>
									<div class="clearfix">
										<span class="pull-left user-detail-item user-not-payed">
											<a href="#">今日现金消费</a>
										</span>
										<span class="pull-right">
											<a href="#">
								                共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 元
											</a>
										</span>
									</div>
								</li>
								<li class="clearfix">
									<span class="pull-left user-detail-item user-not-payed">
										<a href="#" class="user-product-icon">今日优币使用</a>
									</span>
									<span class="pull-right">
										<a href="#">
											共 <span class="user-detail-count">#</span> 个
										</a>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

	
</div>
</script>