<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
	
</head>
<body>
	<footer th:fragment="copy">
	<!-- footer -->
	<div class="footer"></div>
	<!-- footer end -->
    <!-- 快捷feedback提示框 -->
    <div class="ui-feedback-layout" id="nyFeedback">
	    <div class="ui-feedback ui-feedback-success">
		    <div class="ui-feedback-icon"></div>
		    <div class="ui-feedback-text">
			    操作成功
		    </div>
		    <span class="ui-feedback-close">&times;</span>
	    </div>
    </div>
    
    <!-- 异步请求waiting效果 -->
    <div id="nyWaitingTip" class="sq-loading-tip">
	    <div class="sq-loading-mask"></div>
	    <div class="sq-loading-box">
		    <div class="loading-tip-head">
			    提示信息
		    </div>
		    <i></i>
		    <div class="loading-tip-text">努力加载中，请稍后......</div>
	    </div>
    </div>
    
    <!-- 面包屑导航模板 -->
    <script type="text/html" id="crumbNavTpl">
	    <ol class="breadcrumb sq-crumb">
		    <li><a href="/administrator/" class="crumb-home">管理中心</a></li>
		    <!-- 一级目录 -->
		    <li><a>{{upperMenuText}}</a></li>
	    {{if subMenuText}}
		    <!-- 二级目录（部分模块没有二级目录） -->
		    <li>
			    <a {{if subMenuLink}}href="{{subMenuLink}}"{{/if}}>
				    {{subMenuText}}
			    </a>
		    </li>
	    {{/if}}
	    {{if insideTitle}}
		    <!-- 详情页面 -->
		    <li>
			    <a>{{insideTitle}}</a>
		    </li>
	    {{/if}}
	    </ol>
    </script>
    
    <!-- 表格无数据提示 模版 -->
    <script id="nonedataTdTpl" type="text/html">
	    <tr>
		    <td colspan="{{cols}}" class="sq-nonedata-td">
			    <div class="sq-nonedata-wrapper tip-icon-info-large">
				    <div class="sq-nonedata-text">{{text}}</div>
				    {{if subtext}}
					    <div class="sq-nonedata-subtext">
						    {{if subtextLink}}
							    <a href="{{subtextLink}}" target="_blank">{{subtext}}</a>
						    {{else}}
							    {{subtext}}
						    {{/if}}
					    </div>
				    {{/if}}
			    </div>
		    </td>
	    </tr>
    </script>
    
    <!-- 表格无搜索结果提示 模版 -->
    <script id="noneSearchRecordTdTpl" type="text/html">
	    <tr>
		    <td colspan="{{cols}}" class="sq-nonedata-td">
			    <div class="sq-nonedata-wrapper tip-icon-info-large">
				    <div class="sq-nonedata-text">
					    搜索“{{searchKey}}”的结果为空
				    </div>
			    </div>
		    </td>
	    </tr>
    </script>
    
    <!-- 分页模板 -->
    <script th:fragment="paginationTpl" id="paginationTpl" type="text/html">
	    <div class="clearfix pager-wrapper" id="pager">
		    <div class="sq-pagination pull-right default-transition-children-fast">
			    <span class="page-button pager-first"></span>
			    <span class="page-button pager-prev"></span>
			    <span class="page-number default-transition-children-fast">
				    <!-- <span class="page-button page--current">1</span> -->
				    <span class="page-button">n</span>
			    </span>
			    <span class="page-button pager-next"></span>
			    <span class="page-button pager-last"></span>
		    </div>
		    <div class="pager-count pager-size pull-right">
		        <span class="page-button pager-set">20</span>
		        <span class="page-button pager-set">50</span>
		        <span class="page-button pager-set">100</span>
		        <span class="page-button pager-set">500</span>
		        <span class="page-button pager-set">1000</span>
		    </div>
		    <div class="pager-count pull-right">
			    共有
			    <span class="text-primary">
				    {{pager.total}}
			    </span>
			    条记录&nbsp;&nbsp;&nbsp;&nbsp;
		        每页显示
		    </div>
	    </div>
    </script>
    
    <!-- 上传附件模板  attachment-uploading attachment-done -->
    <script type="text/html" id="attachment">
	    <span class="attachment-item attachment-uploading">
		    <a href="#a_null" class="add-cover"></a>
		    <img src="" alt="" data-file_path="">
		    <a class="delete-attachment default-transition text-center" href="#a_null">删除</a>
		    <span class="uploading-tip text-center">上传中...</span>
	    </span>
    </script>
    
    <!-- 上传附件模板-文档  attachment-uploading attachment-done -->
    <script type="text/html" id="attachment2">
	    <span class="attachment-item-document document-upload">
		    <span class="document-name">上传中...</span>
		    <span class="delete-attachment2">×</span>
		    <!--<span class="uploading-tip text-center">上传中...</span>-->
	    </span>
    </script>
    
    <!-- 操作保护模板 -->
    <script type="text/html" id="operateProtectTpl">
#parse("${templateFolder}\\_footer_protect.htm")
    </script>    
    <!-- 用户概况模板 -->
    <script type="text/html" id="userViewTpl">
#parse("${templateFolder}\\_userview.htm")
    </script>
    
    <!-- 验证码确认 -->
    <div id="captchaCheck" class="captcha-box" style="display:none;">
        <table>
	        <tr>
		        <th>验证码：</th>
		        <td>
			        <div><input type="text" name="captcha" id="captcha" class="input  necessary" style="width:120px" autofocus />&nbsp;&nbsp;<img class="show-captcha" src=""/></div>
		        </td>
		        <td></td>
	        </tr>
        </table>
    </div>
    
    <script th:inline="javascript">var jsData = /*[[${jsonData}]]*/ || {"lst":[{"RoleId":1001,"RoleName":"超级管理员","AddTime":"2017-12-28 15:33:55","Description":"超级管理员"},{"RoleId":1002,"RoleName":"客户服务部","AddTime":"2017-12-28 15:43:19","Description":"客户服务部"},{"RoleId":1003,"RoleName":"运维部","AddTime":"2017-12-28 15:51:52","Description":"运维部权限"}],"priEnumList":[{"Name":"Menu","Value":1,"Description":"菜单"},{"Name":"List","Value":2,"Description":"列表"},{"Name":"Model","Value":4,"Description":"详情"},{"Name":"Add","Value":8,"Description":"增加"},{"Name":"Update","Value":16,"Description":"修改"},{"Name":"Delete","Value":32,"Description":"删除"}],"common":{"userID":10004,"userName":"西瓜","userMobile":"","userEmail":null,"sendCountDown":0,"unReadTotal":0,"backUrl":"http://console.youbangyun.com/administrator/customer/role.aspx","domain":{"main":"http://www.youbangyun.com","uc":"http://console.youbangyun.com/administrator","static":"http://console.youbangyun.com/static"}}};</script>
	</footer>
</body>
</html>
