<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="common_header(title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
    <!-- <link rel="stylesheet" th:href="@{/lib/framework/jquery-ui-custom/jquery-ui-1.11.4.custom.min.css}" /> -->
    <link rel="stylesheet" th:href="@{/lib/framework/bootstrap-3.3.5/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/common/bootstrap-theme.css}"/>
	<link rel="stylesheet" th:href="@{/css/common/ucCommon.css}"/>
	<link rel="stylesheet" th:href="@{/css/common/ucComponent.css}"/>
	<link rel="stylesheet" th:href="@{/lib/plugin/jQuery/dialog/skins/ucDialog.css}"/>
	<!--[if lt IE 9]>
	<link rel="stylesheet" th:href=="@{/css/common/bsIE7-8.css}"/>
	<![endif]-->
</head>