<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
	
</head>
<body>
	<div th:fragment="commonJs">
	<!--[if lt IE 9]>
	<script  type="text/javascript" charset="utf-8" th:src="@{/lib/browser/html5shiv.min.js}"></script>
	<script  type="text/javascript" charset="utf-8" th:src="@{/lib/browser/respond.min.js}"></script>
	<script  type="text/javascript" charset="utf-8" th:src="@{/lib/browser/PIE.js}"></script>
	<![endif]-->
	<script type="text/javascript" charset="utf-8" th:src="@{/lib/framework/jquery/jquery-1.12.2.min.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/lib/framework/bootstrap-3.3.5/js/bootstrap.min.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/lib/plugin/jQuery/artTemplate/template.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/lib/plugin/jQuery/jquery.cookie.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/lib/plugin/jQuery/dialog/jquery.dialog.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/lib/plugin/jQuery/dialog/plugins/iframeTools.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/js/common/core.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/js/common/ucCommon.js}"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{/js/adModule/admin.js}"></script>
	<!-- <script type="text/javascript" charset="utf-8" th:src="@{/lib/plugin/jQuery/jquery.table.cell.merge.js}"></script> -->
	</div>
</body>
</html>

