<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soqi.oem.dao.OemloginlogMapper" >
  <resultMap id="BaseResultMap" type="com.soqi.oem.gentry.Oemloginlog" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="CustomerId" property="customerid" jdbcType="INTEGER" />
    <result column="LoginTime" property="logintime" jdbcType="TIMESTAMP" />
    <result column="Ip" property="ip" jdbcType="VARCHAR" />
    <result column="IpLong" property="iplong" jdbcType="BIGINT" />
    <result column="Area" property="area" jdbcType="VARCHAR" />
    <result column="Brower" property="brower" jdbcType="VARCHAR" />
    <result column="OS" property="os" jdbcType="VARCHAR" />
    <result column="Stamp" property="stamp" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OemLoginLog
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.soqi.oem.gentry.Oemloginlog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into OemLoginLog (CustomerId, LoginTime, Ip, 
      IpLong, Area, Brower, 
      OS, Stamp)
    values (#{customerid,jdbcType=INTEGER}, #{logintime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}, 
      #{iplong,jdbcType=BIGINT}, #{area,jdbcType=VARCHAR}, #{brower,jdbcType=VARCHAR}, 
      #{os,jdbcType=VARCHAR}, #{stamp,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.soqi.oem.gentry.Oemloginlog" >
    update OemLoginLog
    set CustomerId = #{customerid,jdbcType=INTEGER},
      LoginTime = #{logintime,jdbcType=TIMESTAMP},
      Ip = #{ip,jdbcType=VARCHAR},
      IpLong = #{iplong,jdbcType=BIGINT},
      Area = #{area,jdbcType=VARCHAR},
      Brower = #{brower,jdbcType=VARCHAR},
      OS = #{os,jdbcType=VARCHAR},
      Stamp = #{stamp,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select Id, CustomerId, LoginTime, Ip, IpLong, Area, Brower, OS, Stamp
    from OemLoginLog
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Id, CustomerId, LoginTime, Ip, IpLong, Area, Brower, OS, Stamp
    from OemLoginLog
  </select>
</mapper>