<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soqi.oem.dao.PricetempldtailMapper" >
  <resultMap id="BaseResultMap" type="com.soqi.oem.gentry.Pricetempldtail" >
    <id column="PriceTemplId" property="pricetemplid" jdbcType="INTEGER" />
    <result column="DiscountType" property="discounttype" jdbcType="TINYINT" />
    <result column="SearchType" property="searchtype" jdbcType="SMALLINT" />
    <result column="SearchName" property="searchname" jdbcType="VARCHAR" />
    <result column="FixPrice" property="fixprice" jdbcType="DECIMAL" />
    <result column="MinPrice" property="minprice" jdbcType="DECIMAL" />
    <result column="MaxPrice" property="maxprice" jdbcType="DECIMAL" />
    <result column="Ratio" property="ratio" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PriceTemplDtail
    where PriceTemplId = #{pricetemplid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soqi.oem.gentry.Pricetempldtail" >
    insert into PriceTemplDtail (PriceTemplId, DiscountType, SearchType, 
      FixPrice, MinPrice, MaxPrice, 
      Ratio)
    values (#{pricetemplid,jdbcType=INTEGER}, #{discounttype,jdbcType=TINYINT}, #{searchtype,jdbcType=SMALLINT}, 
      #{fixprice,jdbcType=DECIMAL}, #{minprice,jdbcType=DECIMAL}, #{maxprice,jdbcType=DECIMAL}, 
      #{ratio,jdbcType=DECIMAL})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into PriceTemplDtail (PriceTemplId, DiscountType, SearchType, 
      FixPrice, MinPrice, MaxPrice, 
      Ratio)
    values 
    <foreach item="item" index="index" collection="list" separator=",">
    	<trim prefix="(" suffix=")" suffixOverrides=",">
    		#{item.pricetemplid}, #{item.discounttype}, #{item.searchtype},
    		<choose>
				<when test="item.fixprice!=null">
					#{item.fixprice},
				</when>
				<otherwise>
					0,
				</otherwise>
			</choose>
    		<choose>
				<when test="item.minprice!=null">
					#{item.minprice},
				</when>
				<otherwise>
					0,
				</otherwise>
			</choose>
    		<choose>
				<when test="item.maxprice!=null">
					#{item.maxprice},
				</when>
				<otherwise>
					0,
				</otherwise>
			</choose>
    		<choose>
				<when test="item.ratio!=null">
					#{item.ratio},
				</when>
				<otherwise>
					0,
				</otherwise>
			</choose>
    	</trim>
    </foreach>
  </insert>
  
  <update id="batchUpdate" parameterType="java.util.List">
      <foreach collection="list" separator=";" item="item">
	      update PriceTemplDtail
	      <trim prefix="set" suffixOverrides=",">
		  DiscountType = #{item.discounttype,jdbcType=TINYINT},
		    <choose>
				<when test="item.fixprice!=null">
					FixPrice = #{item.fixprice,jdbcType=DECIMAL},
				</when>
				<otherwise>
					FixPrice = 0,
				</otherwise>
			</choose>
    		<choose>
				<when test="item.minprice!=null">
					MinPrice = #{item.minprice,jdbcType=DECIMAL},
				</when>
				<otherwise>
					MinPrice = 0,
				</otherwise>
			</choose>
    		<choose>
				<when test="item.maxprice!=null">
					MaxPrice = #{item.maxprice,jdbcType=DECIMAL},
				</when>
				<otherwise>
					MaxPrice = 0,
				</otherwise>
			</choose>
    		<choose>
				<when test="item.ratio!=null">
					Ratio = #{item.ratio,jdbcType=DECIMAL},
				</when>
				<otherwise>
					Ratio = 0,
				</otherwise>
			</choose>
			</trim>
		    where PriceTemplId = #{item.pricetemplid,jdbcType=INTEGER} and SearchType = #{item.searchtype,jdbcType=SMALLINT}
      </foreach>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.soqi.oem.gentry.Pricetempldtail" >
    update PriceTemplDtail
    set DiscountType = #{discounttype,jdbcType=TINYINT},
      FixPrice = #{fixprice,jdbcType=DECIMAL},
      MinPrice = #{minprice,jdbcType=DECIMAL},
      MaxPrice = #{maxprice,jdbcType=DECIMAL},
      Ratio = #{ratio,jdbcType=DECIMAL}
    where PriceTemplId = #{pricetemplid,jdbcType=INTEGER} and SearchType = #{searchtype,jdbcType=SMALLINT}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select PriceTemplId, DiscountType, SearchType, FixPrice, MinPrice, MaxPrice, Ratio
    from PriceTemplDtail
    where PriceTemplId = #{pricetemplid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PriceTemplId, DiscountType, SearchType, FixPrice, MinPrice, MaxPrice, Ratio
    from PriceTemplDtail
  </select>
  
  <select id="selectListByConditions" resultMap="BaseResultMap" parameterType="map">
    select n.PriceTemplId, n.DiscountType, d.Name as SearchName, n.SearchType, n.FixPrice, n.MinPrice, n.MaxPrice, n.Ratio
    from PriceTemplDtail n left join PriceTempl m on n.PriceTemplId = m.PriceTemplId left join SearchType d on n.SearchType = d.TypeId where m.OemId = #{oemid,jdbcType=INTEGER} and m.TemplType = #{templtype,jdbcType=TINYINT}
    <if test="searchtype != null">
      and n.SearchType = #{searchtype}
    </if>
  </select>
  
</mapper>