<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soqi.oem.dao.UseraccountdetailMapper" >
  <resultMap id="BaseResultMap" type="com.soqi.oem.gentry.Useraccountdetail" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="Change" property="change" jdbcType="DECIMAL" />
    <result column="Freeze" property="freeze" jdbcType="DECIMAL" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
    <result column="TradeType" property="tradetype" jdbcType="INTEGER" />
    <result column="TradeId" property="tradeid" jdbcType="VARCHAR" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="AddTime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from UserAccountDetail
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.soqi.oem.gentry.Useraccountdetail" >
    insert into UserAccountDetail (UserId, Change, Freeze, 
      Balance, TradeType, TradeId, 
      Description, AddTime)
    values (#{userid,jdbcType=INTEGER}, #{change,jdbcType=DECIMAL}, #{freeze,jdbcType=DECIMAL}, 
      #{balance,jdbcType=DECIMAL}, #{tradetype,jdbcType=INTEGER}, #{tradeid,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into UserAccountDetail (UserId, Change, Freeze, 
      Balance, TradeType, TradeId, 
      Description, AddTime) values 
      <foreach item="item" index="index" collection="list" separator=",">
      	<trim prefix="(" suffix=")" suffixOverrides=",">
      		#{item.userid}, #{item.change}, #{item.freeze},#{item.balance}, #{item.tradetype}, #{item.tradeid},#{item.description}, #{item.addtime}
      	</trim>
      </foreach>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.soqi.oem.gentry.Useraccountdetail" >
    update UserAccountDetail
    set UserId = #{userid,jdbcType=INTEGER},
      "Change" = #{change,jdbcType=DECIMAL},
      "Freeze" = #{freeze,jdbcType=DECIMAL},
      Balance = #{balance,jdbcType=DECIMAL},
      TradeType = #{tradetype,jdbcType=INTEGER},
      TradeId = #{tradeid,jdbcType=VARCHAR},
      Description = #{description,jdbcType=VARCHAR},
      AddTime = #{addtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select Id, UserId, "Change", "Freeze", Balance, TradeType, TradeId, Description, 
    AddTime
    from UserAccountDetail
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Id, UserId, Change, Freeze, Balance, TradeType, TradeId, Description, 
    AddTime
    from UserAccountDetail
  </select>
  <select id="qryUserAcDtlsByOemid" resultMap="BaseResultMap" parameterType="map" >
   select Id, UserId, Change, Freeze, Balance, TradeType, TradeId, Description, 
    AddTime
    from UserAccountDetail d where exists (select * from OemUser u where u.OemId = #{oemid,jdbcType=INTEGER} and u.UserId = d.UserId) Order by AddTime desc Offset #{start,jdbcType=INTEGER} Row Fetch Next #{size,jdbcType=INTEGER} Rows Only
  </select>
  <select id="qryCountUserAcDtlsByOemid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(1) as total from UserAccountDetail d where exists (select * from OemUser u where u.OemId = #{oemid,jdbcType=INTEGER} and u.UserId = d.UserId)
  </select>
  
  <select id="qryUserAcDtlsByUserid" resultMap="BaseResultMap" parameterType="map" >
   select Id, UserId, Change, Freeze, Balance, TradeType, TradeId, Description, 
    AddTime
    from UserAccountDetail d where d.UserId = #{userid,jdbcType=INTEGER} Order by AddTime desc Offset #{start,jdbcType=INTEGER} Row Fetch Next #{size,jdbcType=INTEGER} Rows Only
  </select>
  <select id="qryCountUserAcDtlsByUserid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(1) as total from UserAccountDetail d where d.UserId = #{userid,jdbcType=INTEGER}
  </select>
</mapper>