.sq-btn.set-default-number {
	width: 90px;
	margin-left: 10px;
	padding: 0;
	text-align: center;
}
.product-info-group .sq-form-control {
	line-height: 1;
}
.server-empty-remind {
	line-height: 30px;
}


