		<div class="alert-warn alert-protect margin-bottom-20">
			关键词和网址一行一个，并且一一对应，网址可以是域名。提交后，系统会对其可优化性进行评估并计算价格。
		</div>
		<form action="?action=ImportMultiple" class="form-horizontal sq-form font-size-14 sq-tab-container" id="importMultipleForm">
			<div class="form-group validate-control">
				<div class="sq-control-label">
				<span class="necessary-mark">*</span>
					关键词：
				</div>
				<div class="col-xs-3 sq-form-control">
					<textarea class="sq-input-reset sq-keyword-area necessary" name="keyword" id="keyword"></textarea>
				</div>
				<div class="sq-control-label">
				<span class="necessary-mark">*</span>
					网址：
				</div>
				<div class="col-xs-5 sq-form-control">
					<textarea class="sq-input-reset sq-url-area necessary" name="url" id="url"></textarea>
				</div>
			</div>
			<div class="form-group validate-control">
				<div class="sq-control-label">
				<span class="necessary-mark">*</span>
					搜索引擎：
				</div>
				<div class="col-xs-8 sq-form-control">
					<div class="sq-btn-group" id="searchTypeBtn">
						{{each searchTypeList as item i}}
						{{if item.TypeId >0}}
						<input type="button" class="sq-btn btn-primary btn-reverse {{if i==1}}sq-tab-selected{{/if}}" data-search_type="{{item.TypeId}}" data-tab_group="{{item.TypeId}}" value="{{item.Name}}" />
						{{if i==1}}<input type="hidden" name="searchType" id="searchType" value="{{item.TypeId}}" />{{/if}}
						{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</form>