<script type="text/html" id="contentTemplate">
<div class="sq-panel">
	<div class="sq-panel-heading">
		<div class="sq-panel-title">基本资料</div>
	</div>
	<div class="sq-panel-body">
		<div class="alert-warn margin-bottom-20">
			请完善以下信息，方便我们更好的为您服务！
		</div>
		<form class="form-horizontal sq-form sq-tab-container" action="/client/userinf/updateinfo" id="basicInfoForm">
			<div class="form-group">
				<div class="sq-control-label">
					会员ID：
				</div>
				<div class="col-xs-10 sq-form-control">
					<input id="userid" name="userid" type="hidden" value="{{user.userid}}"/>
					{{user.userid}}
				</div>
			</div>
			<div class="form-group">
				<div class="sq-control-label">
					<span class="necessary-mark">*</span>
					称呼：
				</div>
				<div class="col-xs-10 sq-form-control validate-control">
					<input type="text" name="callname" class="sq-input-reset sq-long-input necessary" value="{{user.callname}}" placeholder="请输入称呼" />
					<span class="error-reminder"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="sq-control-label">
					<span class="necessary-mark">*</span>
					QQ：
				</div>
				<div class="col-xs-10 sq-form-control validate-control">
					<input type="text" name="qq" class="sq-input-reset sq-long-input necessary" value="{{user.qq}}" placeholder="请输入QQ" />
					<span class="error-reminder"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="sq-control-label">
					邮箱：
				</div>
				<div class="col-xs-10 sq-form-control">
					{{user.email}}
					<a href="${domain_uc}/userinfo/email.aspx" class="change-setting">{{if user.emailverify}}修改{{else}}验证邮箱{{/if}}</a>
				</div>
			</div>
			<div class="form-group">
				<div class="sq-control-label">
					手机号码：
				</div>
				<div class="col-xs-10 sq-form-control">
					{{user.mobile}}
					<a href="${domain_uc}/userinfo/mobile.aspx" class="change-setting">修改</a>
				</div>
			</div>
			<div class="form-group">
				<div class="sq-control-label">
					认证信息：
				</div>
				<div class="col-xs-10 sq-form-control">
					<a href="/verify/rights.aspx" class="user-label user-verified-origin {{if user.verifytype == 1}}user-verify-personal{{else if user.verifytype >0}}user-verify-company{{/if}}"></a>
				{{if user.verifystatus == 4}}
					{{user.verifytype  | getVerifyTypeClass:"name"}}
				{{else}}
					{{user.verifystatus | getVerifyStatusClass:"name"}}
				{{/if}}
				{{if user.verifytype == 0}}
					<a href="${domain_uc}/userinfo/verify.aspx" class="text-stress go-verify">{{if user.verifystatus == 1}}前往认证{{else}}查看认证进度{{/if}}</a>
				{{/if}}
				</div>
			</div>
			<div class="form-group">
				<div class="sq-control-label">
					&nbsp;
				</div>
				<div class="col-xs-10 sq-form-control">
					<a href="#a_null" class="sq-btn btn-strong" id="savingInfo">保 存</a>
				</div>
			</div>
		</form>
	</div>
</div>
</script>