* {margin:0;padding:0}
a{color:#00aadb; text-decoration:none}
a:hover {color:#c00; text-decoration:underline}
li{list-style:none;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
body{font:12px/1.5em Arial,Verdana,Helvetica,sans-serif;color:#333}

.msgbox{width:600px; margin:150px auto;text-align:center; border:6px solid #e4f4ff}
.msgbox dl{border:1px solid #009FD9; padding:2px}
.msgbox dl dt{height:31px; line-height:31px; background:#009FD9; color:#fff}
.msgbox dl .msg{padding:25px 0 20px 0; font-size:13px;}
.msgbox dl .jump{padding:0 0 30px 0}

