<script type="text/html"  id="editInformation">
<form action="/oemmanager/userinfo/userUpdate" class="form-horizontal sq-form sq-tab-container font-size-12 sq-overview" id="editForm">
	<div class="form-group validate-control">
		<div class="sq-control-label sq-label-mini">用户ID：</div>
        <div class="col-xs-3">
	        {{user.userid}}
        </div>
        <div class="sq-control-label sq-label-mini">状态：</div>
        <div class="col-xs-5">
			<input id="Text1" type="text" name="status" class="sq-input-reset" autocomplete="off" value="{{user.status}}"/>
        </div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label sq-label-mini">
			手机号：
		</div>
		<div class="col-xs-3 sq-form-control sq-input-group validate-control">
			<input id="mobileInput" type="text" name="mobile" class="sq-input-reset" autocomplete="off" value="{{user.mobile}}"/>
		</div>
		<div class="sq-control-label sq-label-mini">
			Email：
		</div>
		<div class="col-xs-5 sq-form-control sq-input-group validate-control">
			<input id="emailInput" type="text" name="email" class="sq-input-reset sq-input-memo" autocomplete="off" value="{{user.email}}"/>
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label sq-label-mini">
			称呼：
		</div>
		<div class="col-xs-3 sq-form-control sq-input-group validate-control">
			<input id="callNameInput" type="text" name="callname" class="sq-input-reset" autocomplete="off" value="{{user.callname}}"/>
		</div>
		<div class="sq-control-label sq-label-mini">
			QQ：
		</div>
		<div class="col-xs-5 sq-form-control sq-input-group validate-control">
			<input id="qqInput" type="text" name="qq" class="sq-input-reset" autocomplete="off" value="{{user.qq}}"/>
		</div>
	</div>
	<input type="hidden" name="userid" value="{{user.userid}}" />
	<input type="hidden" name="oemid" value="{{user.oemid}}" />
</form>
<style type="text/css">
         .sq-form-control .btn-reverse {
          width: 256px;
          height:50px;
          line-height:49px;
          font-size:18px;
          font-weight:bold;
          margin:10px;
          margin-left:0px;
          float:left;
         }
         .sq-btn-group .sq-tab-selected, .sq-btn-group .sq-tab-selected:hover {
             background-position: 227px 21px;
         }
</style>
</script>