<script type="text/html" id="rechargeInformation">
<form action="?action=RechargeDo" class="form-horizontal sq-form sq-tab-container font-size-12" id="rechargeForm" style="width:700px">
	<div class="form-group validate-control">
		<div class="sq-control-label sq-label-mini">
			充值金额：
		</div>
		<div class="col-xs-8 sq-form-control sq-input-group validate-control">
			<input id="rechargeInput" type="text" name="rechargeAmount" class="sq-input-reset sq-input-number sq-input-amount" autocomplete="off" />
			<span class="sq-input-addon">元</span>
			大于0为充值，产生充值单号和资金流水；小于0为人工扣款，仅产生资金流水。
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label sq-label-mini">
			充值备注：
		</div>
		<div class="col-xs-8 sq-form-control sq-input-group validate-control">
			<input id="rechargeMemoInput" type="text" name="rechargeMemo" class="sq-input-reset sq-input-memo" autocomplete="off" />
		</div>
	</div>
	<input type="hidden" name="userid" value="{{userid}}" />
</form>
<style type="text/css">
          .sq-form-control .btn-reverse {
           width: 256px;
           height:50px;
           line-height:49px;
           font-size:18px;
           font-weight:bold;
           margin:10px;
           margin-left:0px;
           float:left;
          }
          .sq-btn-group .sq-tab-selected, .sq-btn-group .sq-tab-selected:hover {
              background-position: 227px 21px;
          }
</style>
</script>