<script type="text/html"  id="addInformation">
<form action="/oemmanager/child/childoemsave" class="form-horizontal sq-form sq-tab-container font-size-12 sq-overview" id="addForm">
	<div class="form-group validate-control">
		<div class="sq-control-label">
			代理公司名称：
		</div>
		<div class="col-xs-3">
			<input id="companynameInput" type="text" name="companyname" class="sq-input-reset necessary" autocomplete="off" />
		</div>
		<div class="sq-control-label">
			代理公司域名：
		</div>
		<div class="col-xs-3">
			<input id="domainInput" type="text" name="domain" class="sq-input-reset necessary" autocomplete="off" />
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label">
			管理员姓名：
		</div>
		<div class="col-xs-3">
			<input id="realnameInput" type="text" name="realname" class="sq-input-reset necessary" autocomplete="off" />
		</div>
		<div class="sq-control-label">
			管理员称呼：
		</div>
		<div class="col-xs-3">
			<input id="callnameInput" type="text" name="callname" class="sq-input-reset necessary" autocomplete="off" />
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label">
			管理员手机号：
		</div>
		<div class="col-xs-3">
			<input id="mobileInput" type="text" name="mobile" class="sq-input-reset necessary" autocomplete="off" />
		</div>
		<div class="sq-control-label">
			管理员电话：
		</div>
		<div class="col-xs-3">
			<input id="phoneInput" type="text" name="phone" class="sq-input-reset" autocomplete="off" />
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label">
			管理员QQ：
		</div>
		<div class="col-xs-3">
			<input id="qqInput" type="text" name="qq" class="sq-input-reset necessary" autocomplete="off" />
		</div>
		<div class="sq-control-label">
			管理员微信：
		</div>
		<div class="col-xs-3">
			<input id="weixinInput" type="text" name="weixin" class="sq-input-reset" autocomplete="off" />
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label">
			管理员Email：
		</div>
		<div class="col-xs-3">
			<input id="emailInput" type="text" name="email" class="sq-input-reset" autocomplete="off" />
		</div>

		<div class="sq-control-label">
			初始密码：
		</div>
		<div class="col-xs-3">
			<input id="pwdInput" type="text" name="pwd" class="sq-input-reset" autocomplete="off" />
		</div>
	</div>
	<input type="hidden" name="oemid" value="{{oemid}}" />
</form>
<style type="text/css">
         .sq-form-control .btn-reverse {
          width: 256px;
          height:50px;
          line-height:49px;
          font-size:18px;
          font-weight:bold;
          margin:10px;
          margin-left:0px;
          float:left;
         }
         .sq-btn-group .sq-tab-selected, .sq-btn-group .sq-tab-selected:hover {
             background-position: 227px 21px;
         }
</style>
</script>