<script type="text/html"  id="addInformation">
<form action="/oemmanager/child/childoemsave" class="form-horizontal sq-form sq-tab-container font-size-12 sq-overview" id="addForm">
	<div class="form-group validate-control">
		<div class="sq-control-label">
			代理公司名称：
		</div>
		<div class="col-xs-3">
			<input id="companynameInput" type="text" name="companyname" class="sq-input-reset necessary" autocomplete="off" />
		</div>
		<div class="sq-control-label">
			代理公司域名：
		</div>
		<div class="col-xs-3">
			<input id="domainInput" type="text" name="domain" class="sq-input-reset necessary" autocomplete="off" />
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label">
			管理员姓名：
		</div>
		<div class="col-xs-3">
			<input id="realnameInput" type="text" name="realname" class="sq-input-reset necessary" autocomplete="off" />
		</div>
		<div class="sq-control-label">
			管理员称呼：
		</div>
		<div class="col-xs-3">
			<input id="callnameInput" type="text" name="callname" class="sq-input-reset necessary" autocomplete="off" />
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label">
			管理员手机号：
		</div>
		<div class="col-xs-3">
			<input id="mobileInput" type="text" name="mobile" class="sq-input-reset necessary" autocomplete="off" />
		</div>
		<div class="sq-control-label">
			管理员电话：
		</div>
		<div class="col-xs-3">
			<input id="phoneInput" type="text" name="phone" class="sq-input-reset" autocomplete="off" />
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label">
			管理员QQ：
		</div>
		<div class="col-xs-3">
			<input id="qqInput" type="text" name="qq" class="sq-input-reset necessary" autocomplete="off" />
		</div>
		<div class="sq-control-label">
			管理员微信：
		</div>
		<div class="col-xs-3">
			<input id="weixinInput" type="text" name="weixin" class="sq-input-reset" autocomplete="off" />
		</div>
	</div>
	<div class="form-group validate-control">
		<div class="sq-control-label">
			管理员Email：
		</div>
		<div class="col-xs-3">
			<input id="emailInput" type="text" name="email" class="sq-input-reset" autocomplete="off" />
		</div>

		<div class="sq-control-label">
			初始密码：
		</div>
		<div class="col-xs-3">
			<input id="pwdInput" type="text" name="pwd" class="sq-input-reset necessary" autocomplete="off" />
		</div>
	</div>
	<div class="form-group">
		<div class="sq-control-label">
			<span class="necessary-mark">*</span>
					代理关键词折扣：
		</div>
		<div class="col-xs-3 sq-form-control">
			<div class="sq-btn-group" id="discountTypeBtn">
				<input class="sq-btn btn-primary btn-reverse sq-tab-selected" type="button" value="一口价" data-tab_group="1" data-discounttype="1">
				<input class="sq-btn btn-primary btn-reverse" type="button" value="折扣价" data-tab_group="2" data-discounttype="2">
			    <input name="discounttype" id="discountType" type="hidden" value="1">
			</div>
		</div>
		<div class="col-xs-3">
			<input id="discountPrice" type="text" name="discountprice" class="sq-input-reset sq-label-long necessary" placeholder="大于0的有效数字比如：2.5" autocomplete="off" />
		</div>
	</div>
	
	<input type="hidden" name="oemid" value="{{oemid}}" />
</form>

</script>