<head>
	<!-- 个性化标题部分 -->
	<meta charset="utf-8"/>
	<title>默认模板客户欢迎页</title>
	<!-- 引用个性化样式部分开始 -->
	<link rel="stylesheet" th:href="@{/css/ucModule/business/keyword.css}"/>
	<!-- 引用个性化样式部分结束 -->
	<head th:replace="${templDir}+_header"/>
	<!-- 引入公共js部分开始 -->
</head>
<body>
	<!-- 导航部分 -->
	<div th:replace="${templDir}+_top::top"/>
	<!-- 菜单部分 -->
	<div th:replace="${templDir}+_menu::menu"/>
	<!-- 内容部分 -->
	<div class="sq-main">
		<div class="crumb-container" data-nav="siteyun_list" id="crumbNavContainer">
			<!-- JS填充 -->
		</div>
		<div id="contentBox"></div>
		<!-- <div th:replace="${templDir}+_default_content::defaultContent"/> -->
	</div>
	<!-- 页脚部分 -->
	<div th:replace="${templDir}+_footer::copy"/>
	<div>
		<div th:replace="${templDir}+_script::commonJs"></div>
		<script type="text/javascript" charset="utf-8" th:src="@{/js/ucModule/business/siteyun.js}"></script>
	</div>
</body>