<script th:fragment="defaultContent" type="text/html" id="contentTemplate">
		<div class="container-fluid">
			<div class="home-tier-2">
				<div class="sq-panel">
					<div class="operate-container clearfix">
						<div class="clearfix operate-container-left">
							<div class="pull-left">
								<span class="user-operate-name">总余额：</span>
								<span class="detail-count-container">
									<span class="user-balance">#</span><span>#</span> 元
								</span>
								<span class="user-operate-name">冻结金额：</span>
								<span class="detail-count-container">
									<span class="user-balance">#</span><span>#</span> 元
								</span>
								<span class="user-operate-name">可用金额：</span>
								<span class="detail-count-container">
									<span class="user-balance">#</span><span>#</span> 元
								</span>
								<span class="user-operate-buttons">
									<a href="#" class="sq-btn btn-strong user-recharge">立即充值</a>
								</span>
								
								<span class="user-operate-buttons">
									<a href="#" class="sq-btn btn-primary">立即购买</a>
								</span>
								<span class="user-operate-name margin-left-10">排名结算开始时间：</span>
								<span class="detail-count-container">
									每天 <span class="user-balance">#</span> 左右
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>	

			<div class="home-tier-3">
				<div class="clearfix">
					
					<div class="pull-left home-tier-3-right">
						<div class="sq-panel">
							<div class="home-panel-heading">待续费与工单处理</div>
							<div class="clearfix products-detail-panel clearfix">
								<ul class="user-products-lists pull-left text-link">
									<li class="clearfix">
										<span class="pull-left user-detail-item  user-cloud">
											<a href="#" class="user-product-icon">优帮云排名</a>
											<span class="product-limit">（7天到期）</span>
										</span>
										<span class="pull-right">
											<a href="#">
												  共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 个
											</a>
										</span>
									</li>
									<li class="clearfix">
										<span class="pull-left user-detail-item user-virtual">
											<a href="#">云建站</a>
										</span>
										<span class="pull-right">
											<a href="#">
												 共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 个
											</a>
										</span>
									</li>
									
								</ul>
								<ul class="user-wo-lists pull-left text-link">
									<li>
										<div class="clearfix">
											<span class="pull-left user-detail-item user-wo-undone">
												<a href="#">工单处理</a>
											</span>
											<span class="pull-right">
												<a href="#">
									                共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 个
												</a>
											</span>
										</div>
									</li>
									<li>
										<div class="clearfix">
											<span class="pull-left user-detail-item user-wo-unevaluated">
												<a href="#">处理中工单</a>
											</span>
											<span class="pull-right">
												<a href="#">
									                共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 个
												</a>
											</span>
										</div>
									</li>

									<li>
										<div class="clearfix">
											<span class="pull-left user-detail-item user-wo-closed">
												<a href="#">处理中工单</a>
											</span>
											<span class="pull-right">
												<a href="#">
									                共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 个
												</a>
											</span>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</div>

					<div class="pull-left home-tier-3-right">
						<div class="sq-panel">
							<div class="home-panel-heading">充值与消费统计</div>
							<div class="clearfix products-detail-panel clearfix">
								<ul class="user-products-lists pull-left text-link">
									<li class="clearfix">
										<span class="pull-left user-detail-item  user-not-payed">
											<a href="#" class="user-product-icon">账户充值</a>
											<span class="product-limit">（30天内）</span>
										</span>
										<span class="pull-right">
											<a href="#">
												  共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 元
											</a>
										</span>
									</li>
									<li class="clearfix">
										<span class="pull-left user-detail-item user-hosting">
											<a href="#">现金消费</a>
										</span>
										<span class="pull-right">
											<a href="#">
												 共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 元
											</a>
										</span>
									</li>
									
								</ul>
								<ul class="user-wo-lists pull-left text-link">
									<li>
										<div class="clearfix">
											<span class="pull-left user-detail-item user-not-payed">
												<a href="#">今日现金充值</a>
											</span>
											<span class="pull-right">
												<a href="#">
									                共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 元
												</a>
											</span>
										</div>
									</li>
									<li>
										<div class="clearfix">
											<span class="pull-left user-detail-item user-not-payed">
												<a href="#">今日现金消费</a>
											</span>
											<span class="pull-right">
												<a href="#">
									                共 <span class="user-detail-count">#</span><span class="user-detail-decimal">#</span> 元
												</a>
											</span>
										</div>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
					
					
					

				</div>
			</div>			

			
		</div>
</script>