<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:fragment="common_header(title)">
    <!-- <link rel="stylesheet" th:href="@{/lib/framework/jquery-ui-custom/jquery-ui-1.11.4.custom.min.css}" /> -->
    <link rel="stylesheet" th:href="@{/lib/framework/bootstrap-3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/plugin/jQuery/dialog/skins/ucDialog.css}"/>
	<link rel="stylesheet" th:href="@{/css/common/bootstrap-theme.css}"/>
	<link rel="stylesheet" th:href="@{/css/common/ucCommon.css}"/>
	<link rel="stylesheet" th:href="@{/css/common/ucComponent.css}"/>
	<!--[if lt IE 9]>
	<link rel="stylesheet" th:href=="@{/css/common/bsIE7-8.css}"/>
	<![endif]-->
</head>