.pattern-1 {
	background: url(img/login_pattern_1.jpg) no-repeat center;
}
.pattern-2 {
	background: url(img/login_pattern_2.jpg) no-repeat center;
}
.pattern-3 {
	background: url(img/login_pattern_3.jpg) no-repeat center;
}